.label {
    font-size: 22.5px;
    position:relative;
}

.site-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.site-form>div {
    flex-grow: 1;
}

.label>input {
    border-color: aqua;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}
.label>input:focus {
    background-color:darkgray;
}

.container {
    position:relative;
}

.content {
    margin-bottom: 50px;
}

.indexation-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.save-btn-wrapper {
    margin-bottom: 36px;
    margin-top: 10px;
}

.msg {
    position: absolute;
    bottom: -10px; 
    left: 100px;
    width: 100%;
    font-size: 10px;
    color: brown;
}

.error-message {
    font-size: 20px;
    color: brown;
    position: absolute;
    bottom: 0px;
    left: 350px;
    width: 100%; 
}

.no-site-msg {
    font-size: 20px;
    color: brown;
}
